<div class="main-container">
  <div class="layout">
    <div>
      <div class="layout__head">
        <div class="layout__image">
          <div class="layout__logo">
            <img
              src="images/logo.svg"
              alt="Cryptik logo"
              width="445"
              height="107"
              class="layout__logo--image" />
          </div>
          <div class="logo-name">Filmly</div>
        </div>
        <div class="layout__menu">
          @for(item of menuItems; track item) {
            <div routerLinkActive="active" class="menu_item"><img [src]="'/images/' + item.icon" class="menu__icon"><a class="menu_link" [routerLink]="[item.src]">{{ item.name }}</a></div>
          }
        </div>

      </div>

    </div>
    <div class="main__content">
      <app-sidebar></app-sidebar>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

