<div class="form__control">
  <div class="form__icon">
    <img *ngIf="iconUrl" [src]="iconUrl" width="24" height="24" [alt]="type" />
  </div>
  <input
    class="form__input"
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (input)="handleInput($event)" />
  <div class="form__button--container">
    <button class="form__button" type="button" (click)="onButtonToggleClick()">
      <img [src]="buttonIcon" width="24" height="24" [alt]="type" />
    </button>
  </div>
</div>
