.form__control {
  display: flex;
  align-items: center;
  background-color: rgba(118, 118, 128, 0.12);
  line-height: 10px;
  padding: 4px 14px;
  width: 360px;
  height: 52px;
  border-radius: 16px;

  border: 1px solid rgba(118, 118, 128, 0.12);

}

.form__input {
  // Сбрасываем все стандартные стили
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // Убираем стандартные стили для разных состояний
  &:focus,
  &:active,
  &:hover {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }

  // Убираем стили автозаполнения
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: rgba(160, 160, 160, 1) !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  // Убираем крестик очистки в IE/Edge
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  // Убираем крестик очистки в Chrome/Safari для type="search"
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  // Убираем стрелки для type="number"
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Для Firefox type="number"
  &[type="number"] {
    -moz-appearance: textfield;
  }

  // Убираем стандартный цвет фона для disabled
  &:disabled {
    background: none;
    opacity: 1;
  }
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  font-size: 19px;
  color: rgba(160, 160, 160, 1);
  width: 100%;
  height: 100%;
}


.form__icon {
  width: 24px;
  height: 24px;
  padding-right: 1rem;
}

.form__icon--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.7);
}
.form__button--container{
  .form__button{
    // Сбрасываем все стандартные стили
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #09090F;
    height: 24px;
    width: 24px;
    img {
      height: 24px;
      width: 24px;
      background-color: rgba(118, 118, 128, 0.12);
    }
  }

}
