<div class="login__container">
  <h1 class="login__heading">Вход</h1>
  <form class="login__form" [formGroup]="form">
    <app-input
      class="login__form--control"
      formControlName="email"
      iconUrl="images/user.svg" />

    <app-password-input
      class="login__form--control"
      iconUrl="images/lock.svg"
      formControlName="password" />

    @if (form.controls.email.invalid && form.controls.email.touched) {
      <div class="login__form--errors">Проверьте правильность ввода email</div>
    }

    @if (
      form.controls.password.errors?.['noSpaces'] &&
      form.controls.password.touched
      ) {
      <div class="login__form--errors">
        {{ form.controls.password.errors?.['noSpaces'] }}
      </div>
    }

    @if (
      form.controls.password.errors?.['required']
      ) {
      <div class="login__form--errors">Пароль не введён</div>
    }

    @if (error) {
      <div class="login__form--errors">Что-то пошло не так</div>
    }

    <app-button type="submit" (btnClick)="onLoginClick()">
      <span> Войти </span>
    </app-button>
  </form>
</div>
